<section class="w-75 mx-auto p-3 bg-main-light shadow my-3">
    <h1 class="mb-3">Checkout Session</h1>
    <form [formGroup]="orderForm" (ngSubmit)="handleForm()">
    
        <div class="form-item">
            <label for="details">Address Details</label>
            <input class="form-control" type="text" id="details" formControlName = "details" />
        </div>
        <div class="form-item">
            <label for="phone">Phone</label>
            <input class="form-control" type="tel" id="phone" formControlName = "phone" />
        </div>
        <div class="form-item">
            <label for="city">City</label>
            <input class="form-control" type="text" id="city" formControlName = "city" />
        </div>

        <button class="main-btn mt-2 p-2 px-3">Checkout</button>
    
    </form>
</section>