<section class="w-75 mx-auto shadow rounded-2 my-3 bg-main-light p-4">
    <h1 class="my-3">Login</h1>
    <form [formGroup]="loginForm"  (ngSubmit)="handleForm()">

       
        <div class="form-item py-2">
            <label for="email">Email</label>
            <input formControlName = "email" type="email" id="email" class="form-control" placeholder="Enter your email...">

            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger p-1 small w-75 mx-auto">
                <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')">Email is required!</p>
                <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">Invalid email format! </p>
                
                
            </div>
        </div>
        
        <div class="form-item py-2">
            <label for="password">Password</label>
            <input formControlName = "password" type="password" id="password" class="form-control" placeholder="Enter your password...">

            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger p-1 small w-75 mx-auto">
                <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required')">Password is required!</p>
                <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">Must be at least 6 letters! </p>
                        
            </div>
        </div>
        
        

        <div class="d-flex justify-content-between">
            <button [disabled]="loginForm.invalid" class="main-btn ">Login
                <span *ngIf="isLoading" ><i class="fas fa-spin fa-spinner"></i></span>
            </button>

            <a role="button" class="text-muted link-primary" routerLink="/forgetpasswordinauth">Forget Password</a>
        </div>
    </form>

    <p *ngIf="errMsg" class="alert alert-danger p-1 mb-0 text-center w-75 mx-auto">{{errMsg}}</p>
</section>